* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.row {
  flex: 1;
  display: flex;
  flex-flow: row;
  background-color: #282c34;
  color: #fff;
}

.row > .column {
  flex: 1;
  padding: 4rem;
  border: 1px solid #3c4049;
}
